<a href="https://colab.research.google.com/github/ZarrinTasnimKhan/AI_212-15-14740sec59D/blob/main/ai_3_sept_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('C:/Users/HP/Py Code/ML/Data/customer.csv')

In [ ]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [ ]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

# Ordinal Encoding

In [ ]:
df[['review', 'education']]

     review education
0   Average    School
1      Poor        UG
2      Good        PG
3      Good        PG
4   Average        UG
5   Average    School
6      Good    School
7      Poor    School
8   Average        UG
9      Good        UG
10     Good        UG
11     Good        UG
12     Poor    School
13  Average    School
14     Poor        PG
15     Poor        UG
16     Poor        UG
17     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
21  Average        PG
22     Poor        PG
23     Good    School
24  Average        PG
25     Good    School
26     Poor        PG
27     Poor        PG
28     Poor    School
29  Average        UG
30  Average        UG
31     Poor    School
32  Average        UG
33     Good        PG
34  Average    School
35     Poor    School
36     Good        UG
37  Average        PG
38     Good    School
39     Poor        PG
40     Good    School
41     Good        PG
42     Good        PG
43     Poor        PG
44  Average        UG
45     Poor        PG
46     Poor        PG
47     Good        PG
48     Good        UG
49     Good        UG

In [ ]:
df['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [ ]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
df[['review', 'education']]= oe.fit_transform(df[['review', 'education']])

In [ ]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [ ]:
df[['review', 'education']]

    review  education
0      1.0        0.0
1      0.0        1.0
2      2.0        2.0
3      2.0        2.0
4      1.0        1.0
5      1.0        0.0
6      2.0        0.0
7      0.0        0.0
8      1.0        1.0
9      2.0        1.0
10     2.0        1.0
11     2.0        1.0
12     0.0        0.0
13     1.0        0.0
14     0.0        2.0
15     0.0        1.0
16     0.0        1.0
17     0.0        1.0
18     2.0        0.0
19     0.0        2.0
20     1.0        0.0
21     1.0        2.0
22     0.0        2.0
23     2.0        0.0
24     1.0        2.0
25     2.0        0.0
26     0.0        2.0
27     0.0        2.0
28     0.0        0.0
29     1.0        1.0
30     1.0        1.0
31     0.0        0.0
32     1.0        1.0
33     2.0        2.0
34     1.0        0.0
35     0.0        0.0
36     2.0        1.0
37     1.0        2.0
38     2.0        0.0
39     0.0        2.0
40     2.0        0.0
41     2.0        2.0
42     2.0        2.0
43     0.0        2.0
44     1.0        1.0
45     0.0        2.0
46     0.0        2.0
47     2.0        2.0
48     2.0        1.0
49     2.0        1.0

In [ ]:
df

    age  gender  review  education purchased
0    30  Female     1.0        0.0        No
1    68  Female     0.0        1.0        No
2    70  Female     2.0        2.0        No
3    72  Female     2.0        2.0        No
4    16  Female     1.0        1.0        No
5    31  Female     1.0        0.0       Yes
6    18    Male     2.0        0.0        No
7    60  Female     0.0        0.0       Yes
8    65  Female     1.0        1.0        No
9    74    Male     2.0        1.0       Yes
10   98  Female     2.0        1.0       Yes
11   74    Male     2.0        1.0       Yes
12   51    Male     0.0        0.0        No
13   57  Female     1.0        0.0        No
14   15    Male     0.0        2.0       Yes
15   75    Male     0.0        1.0        No
16   59    Male     0.0        1.0       Yes
17   22  Female     0.0        1.0       Yes
18   19    Male     2.0        0.0        No
19   97    Male     0.0        2.0       Yes
20   57  Female     1.0        0.0       Yes
21   32    Male     1.0        2.0        No
22   18  Female     0.0        2.0       Yes
23   96  Female     2.0        0.0        No
24   16  Female     1.0        2.0       Yes
25   57  Female     2.0        0.0        No
26   53  Female     0.0        2.0        No
27   69  Female     0.0        2.0        No
28   48    Male     0.0        0.0        No
29   83  Female     1.0        1.0       Yes
30   73    Male     1.0        1.0        No
31   22  Female     0.0        0.0       Yes
32   92    Male     1.0        1.0       Yes
33   89  Female     2.0        2.0       Yes
34   86    Male     1.0        0.0        No
35   74    Male     0.0        0.0       Yes
36   34  Female     2.0        1.0       Yes
37   94    Male     1.0        2.0       Yes
38   45  Female     2.0        0.0        No
39   76    Male     0.0        2.0        No
40   39    Male     2.0        0.0        No
41   23    Male     2.0        2.0       Yes
42   30  Female     2.0        2.0       Yes
43   27    Male     0.0        2.0        No
44   77  Female     1.0        1.0        No
45   61    Male     0.0        2.0       Yes
46   64  Female     0.0        2.0        No
47   38  Female     2.0        2.0       Yes
48   39  Female     2.0        1.0       Yes
49   25  Female     2.0        1.0        No

# Label Encoding

In [ ]:
#label encoding is used for output column only

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['purchased']= le.fit_transform(df['purchased'])

In [ ]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [ ]:
df

    age  gender  review  education  purchased
0    30  Female     1.0        0.0          0
1    68  Female     0.0        1.0          0
2    70  Female     2.0        2.0          0
3    72  Female     2.0        2.0          0
4    16  Female     1.0        1.0          0
5    31  Female     1.0        0.0          1
6    18    Male     2.0        0.0          0
7    60  Female     0.0        0.0          1
8    65  Female     1.0        1.0          0
9    74    Male     2.0        1.0          1
10   98  Female     2.0        1.0          1
11   74    Male     2.0        1.0          1
12   51    Male     0.0        0.0          0
13   57  Female     1.0        0.0          0
14   15    Male     0.0        2.0          1
15   75    Male     0.0        1.0          0
16   59    Male     0.0        1.0          1
17   22  Female     0.0        1.0          1
18   19    Male     2.0        0.0          0
19   97    Male     0.0        2.0          1
20   57  Female     1.0        0.0          1
21   32    Male     1.0        2.0          0
22   18  Female     0.0        2.0          1
23   96  Female     2.0        0.0          0
24   16  Female     1.0        2.0          1
25   57  Female     2.0        0.0          0
26   53  Female     0.0        2.0          0
27   69  Female     0.0        2.0          0
28   48    Male     0.0        0.0          0
29   83  Female     1.0        1.0          1
30   73    Male     1.0        1.0          0
31   22  Female     0.0        0.0          1
32   92    Male     1.0        1.0          1
33   89  Female     2.0        2.0          1
34   86    Male     1.0        0.0          0
35   74    Male     0.0        0.0          1
36   34  Female     2.0        1.0          1
37   94    Male     1.0        2.0          1
38   45  Female     2.0        0.0          0
39   76    Male     0.0        2.0          0
40   39    Male     2.0        0.0          0
41   23    Male     2.0        2.0          1
42   30  Female     2.0        2.0          1
43   27    Male     0.0        2.0          0
44   77  Female     1.0        1.0          0
45   61    Male     0.0        2.0          1
46   64  Female     0.0        2.0          0
47   38  Female     2.0        2.0          1
48   39  Female     2.0        1.0          1
49   25  Female     2.0        1.0          0

# One hot Encoding

In [ ]:
df['gender'].value_counts()

Female    29
Male      21
Name: gender, dtype: int64

In [ ]:
#using dummy variable (pandas)
dummies= pd.get_dummies(df, columns = ['gender'])
dummies

    age  review  education  purchased  gender_Female  gender_Male
0    30     1.0        0.0          0              1            0
1    68     0.0        1.0          0              1            0
2    70     2.0        2.0          0              1            0
3    72     2.0        2.0          0              1            0
4    16     1.0        1.0          0              1            0
5    31     1.0        0.0          1              1            0
6    18     2.0        0.0          0              0            1
7    60     0.0        0.0          1              1            0
8    65     1.0        1.0          0              1            0
9    74     2.0        1.0          1              0            1
10   98     2.0        1.0          1              1            0
11   74     2.0        1.0          1              0            1
12   51     0.0        0.0          0              0            1
13   57     1.0        0.0          0              1            0
14   15     0.0        2.0          1              0            1
15   75     0.0        1.0          0              0            1
16   59     0.0        1.0          1              0            1
17   22     0.0        1.0          1              1            0
18   19     2.0        0.0          0              0            1
19   97     0.0        2.0          1              0            1
20   57     1.0        0.0          1              1            0
21   32     1.0        2.0          0              0            1
22   18     0.0        2.0          1              1            0
23   96     2.0        0.0          0              1            0
24   16     1.0        2.0          1              1            0
25   57     2.0        0.0          0              1            0
26   53     0.0        2.0          0              1            0
27   69     0.0        2.0          0              1            0
28   48     0.0        0.0          0              0            1
29   83     1.0        1.0          1              1            0
30   73     1.0        1.0          0              0            1
31   22     0.0        0.0          1              1            0
32   92     1.0        1.0          1              0            1
33   89     2.0        2.0          1              1            0
34   86     1.0        0.0          0              0            1
35   74     0.0        0.0          1              0            1
36   34     2.0        1.0          1              1            0
37   94     1.0        2.0          1              0            1
38   45     2.0        0.0          0              1            0
39   76     0.0        2.0          0              0            1
40   39     2.0        0.0          0              0            1
41   23     2.0        2.0          1              0            1
42   30     2.0        2.0          1              1            0
43   27     0.0        2.0          0              0            1
44   77     1.0        1.0          0              1            0
45   61     0.0        2.0          1              0            1
46   64     0.0        2.0          0              1            0
47   38     2.0        2.0          1              1            0
48   39     2.0        1.0          1              1            0
49   25     2.0        1.0          0              1            0

In [ ]:
df

    age  gender  review  education  purchased
0    30  Female     1.0        0.0          0
1    68  Female     0.0        1.0          0
2    70  Female     2.0        2.0          0
3    72  Female     2.0        2.0          0
4    16  Female     1.0        1.0          0
5    31  Female     1.0        0.0          1
6    18    Male     2.0        0.0          0
7    60  Female     0.0        0.0          1
8    65  Female     1.0        1.0          0
9    74    Male     2.0        1.0          1
10   98  Female     2.0        1.0          1
11   74    Male     2.0        1.0          1
12   51    Male     0.0        0.0          0
13   57  Female     1.0        0.0          0
14   15    Male     0.0        2.0          1
15   75    Male     0.0        1.0          0
16   59    Male     0.0        1.0          1
17   22  Female     0.0        1.0          1
18   19    Male     2.0        0.0          0
19   97    Male     0.0        2.0          1
20   57  Female     1.0        0.0          1
21   32    Male     1.0        2.0          0
22   18  Female     0.0        2.0          1
23   96  Female     2.0        0.0          0
24   16  Female     1.0        2.0          1
25   57  Female     2.0        0.0          0
26   53  Female     0.0        2.0          0
27   69  Female     0.0        2.0          0
28   48    Male     0.0        0.0          0
29   83  Female     1.0        1.0          1
30   73    Male     1.0        1.0          0
31   22  Female     0.0        0.0          1
32   92    Male     1.0        1.0          1
33   89  Female     2.0        2.0          1
34   86    Male     1.0        0.0          0
35   74    Male     0.0        0.0          1
36   34  Female     2.0        1.0          1
37   94    Male     1.0        2.0          1
38   45  Female     2.0        0.0          0
39   76    Male     0.0        2.0          0
40   39    Male     2.0        0.0          0
41   23    Male     2.0        2.0          1
42   30  Female     2.0        2.0          1
43   27    Male     0.0        2.0          0
44   77  Female     1.0        1.0          0
45   61    Male     0.0        2.0          1
46   64  Female     0.0        2.0          0
47   38  Female     2.0        2.0          1
48   39  Female     2.0        1.0          1
49   25  Female     2.0        1.0          0

In [ ]:
#using OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)
df[['gender']]=ohe.fit_transform(df[['gender']])

In [ ]:
df

    age  gender  review  education  purchased
0    30       0     1.0        0.0          0
1    68       0     0.0        1.0          0
2    70       0     2.0        2.0          0
3    72       0     2.0        2.0          0
4    16       0     1.0        1.0          0
5    31       0     1.0        0.0          1
6    18       1     2.0        0.0          0
7    60       0     0.0        0.0          1
8    65       0     1.0        1.0          0
9    74       1     2.0        1.0          1
10   98       0     2.0        1.0          1
11   74       1     2.0        1.0          1
12   51       1     0.0        0.0          0
13   57       0     1.0        0.0          0
14   15       1     0.0        2.0          1
15   75       1     0.0        1.0          0
16   59       1     0.0        1.0          1
17   22       0     0.0        1.0          1
18   19       1     2.0        0.0          0
19   97       1     0.0        2.0          1
20   57       0     1.0        0.0          1
21   32       1     1.0        2.0          0
22   18       0     0.0        2.0          1
23   96       0     2.0        0.0          0
24   16       0     1.0        2.0          1
25   57       0     2.0        0.0          0
26   53       0     0.0        2.0          0
27   69       0     0.0        2.0          0
28   48       1     0.0        0.0          0
29   83       0     1.0        1.0          1
30   73       1     1.0        1.0          0
31   22       0     0.0        0.0          1
32   92       1     1.0        1.0          1
33   89       0     2.0        2.0          1
34   86       1     1.0        0.0          0
35   74       1     0.0        0.0          1
36   34       0     2.0        1.0          1
37   94       1     1.0        2.0          1
38   45       0     2.0        0.0          0
39   76       1     0.0        2.0          0
40   39       1     2.0        0.0          0
41   23       1     2.0        2.0          1
42   30       0     2.0        2.0          1
43   27       1     0.0        2.0          0
44   77       0     1.0        1.0          0
45   61       1     0.0        2.0          1
46   64       0     0.0        2.0          0
47   38       0     2.0        2.0          1
48   39       0     2.0        1.0          1
49   25       0     2.0        1.0          0

# Column Transform

In [ ]:
df = pd.read_csv('C:/Users/HP/Py Code/ML/Data/customer.csv')

In [ ]:
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['purchased']),df['purchased'],
                                                test_size=0.2)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
tf=  ColumnTransformer([
    ('tf1',OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']]),  ['review', 'education']),
    ('tf2',OneHotEncoder(drop='first',sparse=False), ['gender'])
],remainder='passthrough')
tf

ColumnTransformer(remainder='passthrough',
                  transformers=[('tf1',
                                 OrdinalEncoder(categories=[['Poor', 'Average',
                                                             'Good'],
                                                            ['School', 'UG',
                                                             'PG']]),
                                 ['review', 'education']),
                                ('tf2',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['gender'])])

In [ ]:
tf.fit_transform(X_train).shape

(40, 4)

In [ ]:
tf.transform(X_test).shape

(10, 4)